(
    axes: {
        Zoom: MouseWheel(horizontal: false),
    },
    actions: {
        Forward: [ [Key(I)] ],
        Backward: [ [Key(K)] ],
        StrafeLeft: [ [Key(J)] ],
        StrafeRight: [ [Key(L)] ],
        Shoot: [ [Mouse(Left)] ],
        Use: [ [Mouse(Right)] ],
        Run: [ [Key(LShift)] ],
        Reload: [ [Key(R)] ],
        Select1: [ [Key(Key1)] ],
        Select2: [ [Key(Key2)] ],
        Select3: [ [Key(Key3)] ],
        Select4: [ [Key(Key4)] ],
        Up: [ [Key(W)] ],
        Down: [ [Key(S)] ],
        Left: [ [Key(A)] ],
        Right: [ [Key(D)] ],
    },
)
